<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Vote</h2>
        {{ form.as_p }}
        <hr>
        <h3>Answers</h3>
        <a href="?extra={{ current_extra|add:1 }}">add answer</a>
        {%if current_extra > 2 %}
        <a href="?extra={{ current_extra|add:-1 }}">remove answer</a>
        {%endif%}
        {{ answer_formset.management_form }}
        {% for form in answer_formset %}
            {{ form.as_p }}<br>
        {% endfor %}
        <br>
        
        <button type="submit">Submit</button>
    </form>

</body>
</html>