{% include 'base.html' %}
{% load static %}
{% block extra_head %}
    <title>TeamHub Vote</title>
    <link rel="stylesheet" href="{% static 'vote/vote.css' %}">
{% endblock %}

{% block content %}

<div class="container-a">
    
    <a href='{% url "vote_app:cat" %}' style="text-decoration: none;">
        <p style="font-weight: 700;color:#0f2a40;font-size: 50px;text-align: center;">All votes <i class="fa-solid fa-list"></i></p>
    </a>
    {% if user.is_staff %}
    <a href="{% url 'vote_app:create_vote' %}" class="create-button"><i class="fa-regular fa-pen-to-square"></i>create new vote</a>
    {%endif%}
    <hr><br>
    {% for object in object_list %}
    <div class="vote-container">
    <a href="{% url 'vote_app:detail_vote' object.pk %}" style="text-decoration: none; flex-grow: 1;">
    <p class="votelist-title">•{{ object.title }}</p>
    </a>
    {% if user.is_staff %}
    <div style="display: flex; align-items: center; gap: 10px;">
        <a href="{% url 'vote_app:update_vote' object.pk %}" class="edit-button">
        <i class="fa-solid fa-pen"></i>
        </a>
        <a href="{% url 'vote_app:delete_vote' object.pk %}" class="edit-button">
        <i class="fa-solid fa-trash"></i>
        </a>
    </div>
    {% endif%}
    </div>
    <br>
    {% endfor %}

</div>
{% endblock %}