<!DOCTYPE html>
<html>
<head>
    {%load static%}
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7283992a6b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'portfolio/avatar.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/text.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/carousel.css' %}">
</head>
<body style="margin: 0px;padding: 0px;">


    <div style="background-color: #848484;height: 200px;">
    <div style="padding-top: 130px;padding-left: 50px;display: flex;gap:15px">
    {%if current_user == user%}
    <a href="{%url 'update_avatar' current_user.pk %}"><div class='avatar own_avatar' style="background-image: url('{{user.avatar.url}}');"></div></a>
    {%else%}
    <div class='avatar' style="background-image: url('{{user.avatar.url}}');"></div>
    {%endif%}
    <p class="nickname">
        {{user.username}}<br>
        <span class="about">{{user.about}}</span>
    </p>
    </div>
    </div>

    <div style="display: flex;gap: 5px;margin-left: 1200px;margin-top: 5px;">
    {%if current_user != user%}
    {%if is_friend%}
    <form method="post" action="{% url 'delete_friend' user.pk %}">
        {% csrf_token %}
        <button type="submit">Delete friend</button>
    </form>
    {%else%}
    <form method="post" action="{% url 'friend_request' user.pk %}">
        {% csrf_token %}
        <button type="submit">Send friend request</button>
    </form>
    {%endif%}
    {%else%}
    <a href="{% url 'friend_requests' %}" class="upper-button">view friend requests</a><br>
    <a href="{%url 'update_profile' current_user.pk %}" class="upper-button">edit profile</a>
    {%endif%}
    </div>

    <ul class="avatar-list">
        <li><div class='avatar small' style="background-image: url('{{user.avatar.url}}');"></div></li>
        <li><div class='avatar small' style="background-image: url('{{user.avatar.url}}');"></div></li>
        <li><div class='avatar small' style="background-image: url('{{user.avatar.url}}');"></div></li>
    </ul>

    <div style="padding-top: 50px;"></div>

    <hr>

    </div>

    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <button class="nav-link active" id="portfolio-tab" data-bs-toggle="tab" data-bs-target="#portfolio" type="button" role="tab" aria-controls="portfolio" aria-selected="true">portfolio</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments" type="button" role="tab" aria-controls="comments" aria-selected="false">comments</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="friends-tab" data-bs-toggle="tab" data-bs-target="#friends" type="button" role="tab" aria-controls="friends" aria-selected="false">friends</button>
        </li>
        </ul>

    <div class="tab-content" id="myTabContent">
        <br>
        <div class="tab-pane show active" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
            <ul>
                <div id="carouselExample" class="carousel slide"  style="max-width: 700px;max-height: 500px;margin: auto;">
                <div class="carousel-inner">
                {%if current_user == user%}
                <div class="carousel-item active">
                    <a href="{% url 'create_portfolio' %}" style="text-decoration: none;">
                    <div class='inner-image add-image' style="background-image: url('{% static 'portfolio/new_image.jpeg' %}');"></div><br>
                    <p class="button">Click to add new portfolio</p>
                    </a>
                </div>
                {%endif%}
                {%for element in showcase_elements%}
                <div class="carousel-item {% if forloop.first and current_user != user%}active{% endif %}">
                    <div class='inner-image' style="background-image: url('{{element.image.url}}');"></div>
                    <div style="display: flex;gap: 20px;justify-content: center;">
                    <a href="{% url 'update_portfolio' element.pk %}" class="button"><i class="fa-solid fa-pencil"></i>edit</a>    
                    <a href="{% url 'delete_portfolio' element.pk %}" class="button"><i class="fa-solid fa-trash"></i>delete</a>
                    </div>
                </div>
                {%endfor%}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
                </div>
            </ul>
        </div>
        <div class="tab-pane" id="comments" role="tabpanel" aria-labelledby="comments-tab">
            <ul>
                {%for comment in comments%}
                <p style="font-size: 25px;"><a href="{% url 'forum_app:theme_detail' comment.related_theme.pk %}" class="theme">{{comment.related_theme.name}}:</a> {{comment.text}}</p><br>
                {%endfor%}
            </ul>
        </div>

        <div class="tab-pane" id="friends" role="tabpanel" aria-labelledby="friends-tab">
            <ul>
                {%for friend in friends%}
                <div style="display: flex;gap: 10px;">
                <div class='avatar small' style="background-image: url('{{friend.avatar.url}}');"></div>
                <a href="{% url 'user_profile' friend.pk %}">{{friend.username}}</a>
                </div><br>
                {%endfor%}
            </ul>
        </div>
    </div>

    </div>

    <hr style="margin-top: 200px;">
    <div style="display: flex;justify-content: center;"><img src="{% static 'portfolio/aaaa.jpg' %}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>