{% extends 'base.html'%}
{% load static %}

{% block content %}

{% block extra_head %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="{% static 'main_app/carousel.css' %}" rel="stylesheet">
<script src="{% static 'main_app/bootstrap.bundle.min.js' %}"></script>
<title>TeamHub</title>
{% endblock %}

<body>

    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(0, 122, 255)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient1)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100">
                        <h1 class="fw-bold">WELCOME TO TEAMHUB</h1>
                        <p>Swipe right
                            <i class="fa-solid fa-chevron-right"></i>
                            to explore features</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(76, 217, 100)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient2)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'forum_app:forum-start' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>FORUM</h1></a>
                        <p>Place where you can <b>express</b> your thoughts</p>
                        <img src="{% static 'main_app/forum.png' %}" alt="Forum" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4))">
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(88, 86, 214)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient3)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'calendar_app:calendar' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>CALENDAR</h1></a>
                        <p>Don't miss the most <b>fresh</b> events</p>
                        <img src="{% static 'main_app/calendar.png' %}" alt="Calendar" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));">
                    </div>
                </div>         
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient4" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(255, 59, 48)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient4)" />
                    </svg>
                
                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'notifications_app:notifications-list' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>NOTIFICATIONS CENTER</h1></a>
                        <p>Be <b>notified</b> about news</p>
                        <!-- <img src="{% static 'main_app/notifications.png' %}" alt="Calendar" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));"> -->
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient5" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(255, 149, 0)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient5)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'gallery-start' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>GALLERY</h1></a>
                        <p><b>Share</b> your photos</p>
                        <img src="{% static 'main_app/gallery.png' %}" alt="Gallery" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));">
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient6" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(90, 200, 250)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient6)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="#" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>SURVEYS</h1></a>
                        <p>Make your <b>voice</b> heard</p>
                        <img src="{% static 'main_app/survey.png' %}" alt="Surveys" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));">
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient7" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(90, 200, 250)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient7)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="#" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>DIARY</h1></a>
                        <p>Keep track of your <b>progress</b></p>
                        <img src="{% static 'main_app/diary.png' %}" alt="Diary" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4)); object-fit: cover;">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr class="featurette-divider">

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Back to top</a></p>
            <p>&copy; <a href="{% url 'ezvenenya' %}">Езвеняйся </a> &middot; <a href="{% static 'forum_app/pashalka.cs' %}">Privacy</a> &middot; <a href="{% static 'forum_app/ezvenenya.cs' %}">Terms</a></p>
        </footer>
    </main>
</body>

<script>
    document.addEventListener('scroll', () => {
        const navbar = document.querySelector('.navbar');
        const carouselHeight = document.querySelector('.carousel').offsetHeight;
        const navbarHeight = document.querySelector('.navbar').offsetHeight;
        if (window.scrollY > carouselHeight - navbarHeight) {
            document.querySelector('.navbar').classList.remove('scrolled');
            document.querySelector('.dropdown-menu').classList.remove('scrolled');
            document.querySelector('.mainmenu').classList.remove('scrolled');
        } else {
            document.querySelector('.navbar').classList.add('scrolled');
            document.querySelector('.dropdown-menu').classList.add('scrolled');
            document.querySelector('.mainmenu').classList.add('scrolled');

        }
    });
</script>
{% endblock %}