{% extends 'base.html'%}
{% load static %}

{% block content %}

{% block extra_head %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>

<!-- Custom styles for this template -->
<link href="{% static 'main_app/carousel.css' %}" rel="stylesheet">
<script src="{% static 'main_app/bootstrap.bundle.min.js' %}"></script>
<title>TeamHub</title>
{% endblock %}

<body>

    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient1" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(0, 122, 255)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient1)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100">
                        <h1 class="fw-bold">WELCOME TO TEAMHUB</h1>
                        <p>Swipe right
                            <i class="fa-solid fa-chevron-right"></i>
                            to explore features</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient2" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(255, 204, 0)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient2)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'forum_app:forum-start' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>FORUM</h1></a>
                        <p>Place where you can <b>express</b> your thoughts</p>
                        <img src="{% static 'main_app/forum.png' %}" alt="Forum" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4))">
                    </div>
                    
                </div>
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient3" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(51, 67, 82)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient3)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'calendar_app:calendar' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>CALENDAR</h1></a>
                        <p>Don't miss the most <b>fresh</b> events</p>
                        <!-- <img src="{% static 'main_app/calendar.png' %}" alt="Calendar" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));"> -->
                    </div>
                </div>
                
                <div class="carousel-item">
                    <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <defs>
                            <linearGradient id="imgGradient4" x1="0%" y1="0%" x2="0%" y2="100%">
                                <stop offset="21%" stop-color="rgb(51, 67, 82)" />
                                <stop offset="100%" stop-color="rgb(255, 255, 255)" />
                            </linearGradient>
                        </defs>
                        <rect width="100%" height="100%" fill="url(#imgGradient4)" />
                    </svg>

                    <div class="carousel-caption d-flex flex-column justify-content-center h-100 text-start ps-5">
                        <a href="{% url 'notifications_app:notifications-list' %}" class="text-white text-decoration-none cursor-pointer fw-bold"><h1>NOTIFICATIONS CENTER</h1></a>
                        <p>Be <b>notified</b> about news</p>
                        <!-- <img src="{% static 'main_app/calendar.png' %}" alt="Calendar" class="img-fluid" style="border-radius: 14px; width: 100%; height: auto; filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));"> -->
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Remove the container class to allow full-width content -->
        <div class="marketing container">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your
                            mind.</span></h2>
                    <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting
                        prose here.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                            yourself.</span></h2>
                    <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of
                        how this layout would work with some actual real-world content in place.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                    <p class="lead">And yes, this is the last block of representative placeholder content. Again, not
                        really intended to be actually read, simply here to give you a better view of what this would
                        look like with some actual content. Your content.</p>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
                        height="500" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice"
                        focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa"
                            dy=".3em">500x500</text>
                    </svg>

                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.marketing -->

        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Back to top</a></p>
            <p>&copy; <a href="{% url 'ezvenenya' %}">Езвеняйся </a> &middot; <a href="{% static 'forum_app/pashalka.cs' %}">Privacy</a> &middot; <a href="{% static 'forum_app/ezvenenya.cs' %}">Terms</a></p>
        </footer>
    </main>
</body>

<script>
    document.addEventListener('scroll', () => {
        const navbar = document.querySelector('.navbar');
        const carouselHeight = document.querySelector('.carousel').offsetHeight;
        const navbarHeight = document.querySelector('.navbar').offsetHeight;
        if (window.scrollY > carouselHeight - navbarHeight) {
            document.querySelector('.navbar').classList.remove('scrolled');
            document.querySelector('.dropdown-menu').classList.remove('scrolled');
            document.querySelector('.mainmenu').classList.remove('scrolled');
        } else {
            document.querySelector('.navbar').classList.add('scrolled');
            document.querySelector('.dropdown-menu').classList.add('scrolled');
            document.querySelector('.mainmenu').classList.add('scrolled');

        }
    });
</script>
{% endblock %}