@import '../base.css';

/** body {
    background-color: rgb(167, 167, 167);
    justify-content: center;
    align-items: center;
}
.notification {
    border-bottom: 1px solid #000000;
    padding: 15px 0;
    margin: 10px 0;
}
.text {
    text-align: center;
    font-size: 1.1em;
    color: #000000;
}
.author {
    font-size: 0.9em;
    color: #000000;
}
.date {
    font-size: 0.8em;
    color: #000000;
    text-align: right;
} **/

.container {
    background: whitesmoke;
    border-radius: 14px;
    padding: 6px;
    width: 80vw;
    margin-top: 14.5vh;
    gap: 6px;
}

.navbar {
    width: 79vw
}
