.avatar {
    border: 3px #fff solid;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.small {
    width: 100px;
    height: 100px;
}

.own_avatar:hover {
    filter: brightness(0.8);
}

.avatar-list {
    margin-left: 1270px;
    margin-top: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 2rem);
}

.avatar-list li {
    transition: translate 200ms;
}

.avatar-list li:hover~li {
    translate: 2rem;
}