.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.small {
    width: 100px;
    height: 100px;
}

.own_avatar:hover {
    transition: filter 0.3s ease;
    filter: brightness(0.8);
}

.avatar-list {
    margin-top: 10px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, 2rem);
    min-width: 200px;
}

.avatar-list li {
    transition: transform 200ms;
}

.avatar-list li:hover ~ li {
    transform: translate(2rem);
}