{% include 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href='{% static '/notifications_app/notif.css' %}'>
<title>Деталi повiдомлення #{{ notification.id }}</title>
{% endblock %}
{% block content %}
<div class="default-placeholder">
    <div class="container">
        <div class="notification-card">
            <div class="notification-header">
                <h2>Автор: {{ notification.author }}</h2> 
            </div>        
            <h1 class='text-center'>Вмiст:</h1>
            <br>
            <p>Вмiст: {{ notification.text }}</p>
        </div>
    </div>
</div>
{% endblock %}