{% include 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href='{% static '/notifications_app/notif.css' %}'>
    <title>Редагувати повiдомлення #{{ notification.id }}</title>
{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'notifications_app:notifications-list'%}" type="dismiss" class="btn btn-secondary">Cancel
            <i class="fa-solid fa-minus" style="color:rgb(0, 0, 0);"></i>
        </a>
        <button type="submit" class="btn btn-primary">Update
            <i class="fa-solid fa-pen-to-square" style="color: rgb(20,170,20)"></i>
        </button>
    </form>
{% endblock %}


<!--
<div id="edit{{ notification.pk }}" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">

            </div>
        </div>
    </div>
</div> 
-->