{% include 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href='{% static '/notifications_app/notif.css' %}'>
<title>Notifications #{{ notification.id }} Details</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="default-placeholder">
        <div class="placeholder-header">        
            <h1 class='text-center'>Notification's Details</h1>
        </div>
        <h2>Author: {{ notification.author }}</h2> 
        <p>Content: {{ notification.text }}</p>
    </div>
</div>

{% endblock %}