{% include 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href='{% static '/notifications_app/notif.css' %}'>
<title>Деталi повiдомлення #{{ notification.id }}</title>
{% endblock %}
{% block content %}
<div class="container text-center mt-5">
    <div class="row justify-content-lg-center ">
        <div class="col-12 col-lg-12 mt-5">
            <div class="default-placeholder">
                <div class="container">
                    <div class="card-placeholder">
                        <div class="title-card d-flex col-lg-5" style="margin-top: 55px; margin-bottom: 25px;">
                            <h1 class="text-center align-self-center" style="margin-bottom: 25px; margin-top: 20px;">{{ notification.title }}</h1>
                            {% if user.is_staff %}
                            <a class="edit-button" onclick="showEdit({{ notification.pk }}, '{{ notification.title }}')" href="{% url 'notifications_app:update-notification' notification.pk %}">
                                <i class="fa-solid fa-pen-to-square" style="color: #808080; margin-left: 6px;"></i>
                            </a>
                            {% endif %}
                        </div>
                        <div class="notification-card my-1 col-lg-5">
                            <p class="notification-text-card align-self-center" style="font-weight: bold; font-size: 18px;">Вмiст:</p>{{ notification.text }}
                        </div>
                        <div id="edit{{ notification.pk }}" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <form method="POST" action="{% url 'notifications_app:update-notification' notification.pk %}">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <input type="text" name="title" class="form-control" value="{{ notification.title }}" required>
                                            </div>
                                            <input type="hidden" name="notificationAuthor" value="{{ notification.author.id }}">
                                            <div class="mb-3">
                                                <label for="notificationText" class="form-label">Text</label>
                                                <input type="text" class="form-control" id="notificationText" name="text">
                                            </div>
                                            <div class="mb-3">
                                                <label for="notificationDate" class="form-label">Date</label>
                                                <input type="date" class="form-control" id="notificationDate" name="date">
                                            </div>
                                            <div class="modal-footer px-0 pb-0">
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}