@import '../fonts/fonts.css';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "SF Pro";
}

.no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
}

.username-textarea {
    will-change: font-weight;
    font-weight: normal;
    transition: font-weight 0.1s ease;
}

.username-textarea:hover {
    font-weight: bold;
}