@import 'fonts/fonts.css';

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "SF Pro";
}

.no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
}

.username-textarea {
    will-change: font-weight;
    font-weight: normal;
    transition: font-weight 0.1s ease;
}

.username-textarea:hover {
    font-weight: bold;
}

.btn {
    border-radius: 12px;
    font-family: "SF Pro";
    font-size: 16px;
    color: white;
    display: inline-block;
    background: linear-gradient(145deg, #007aff, #0051a8);
    background-clip: padding-box;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    text-align: center;
    height: 32px;
    line-height: 12px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.btn:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}

.btn:active {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
    transform: scale(0.98);
}

.carousel {
    background: white !important;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    height: 100vh;
}

.carousel-inner {
    height: 100vh;
}

.carousel-item {
    position: relative;
    overflow: hidden;
    height: 100vh !important;
    transition: transform 0.8s ease-in-out;
    will-change: transform;
}

.carousel-item svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    pointer-events: none;
    will-change: transform;
    transition: scale 0.8s ease-in-out;
}

.carousel-item:hover svg {
    scale: 1.4;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.carousel-caption {
    transition: opacity 0.8s ease-in-out;
}

.navbar.scrolled {
    background: transparent;
    transition: background, box-shadow, backdrop-filter, --webkit-backdrop-filter, background-color 0.3s ease-in-out;
}

.navbar {
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    width: 100%;
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2)
}

.navbar-img {
    height: 60px;
    width: auto;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    z-index: 1050;
    transition: transform 0.2s ease-in-out;
    will-change: filter, transform;
}

.navbar-img:hover {
    transform: scale(1.05);
}

.navbar-img:active {
    transform: scale(0.95);
}

.rounded-circle {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.username-textarea:focus {
    font-weight: bold;
}

.dropdown-menu {
    padding: 5px 6px;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dropdown-item {
    margin-bottom: 1px;
    height: 24px;
    font-size: 14px;
    border-radius: 3px;
    text-align: left;
    line-height: 16px;
    transition: transform 0.1s ease-in-out, background 0.1s ease-in-out, color 0.1s ease-in-out;
}

.logout-item:hover {
    background: #ff3b30 !important;
    border-radius: 4px;
}

.dropdown-item:hover {
    background: #007aff;
    color: white;
    border-radius: 4px;
}

.dropdown-divider {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 90%;
}

.mainmenu {
    padding: 4px 4px;
    border-radius: 8px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    position: fixed;
    height: 30vh;
    max-width: fit-content;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: repeat(2, 1fr) !important;
    grid-auto-flow: dense !important;
    gap: 4px;
    width: 30vw;
    top: 11.2%;
    left: 3;
    z-index: 9999;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
}

.mainmenu.show {
    pointer-events: auto;
    animation: showMenu 0.2s forwards;
}

.mainmenu.hide {
    pointer-events: none;
    animation: hideMenu 0.2s forwards;
}

@keyframes showMenu {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hideMenu {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0);
        opacity: 0;
    }
}

.mainmenu-toggler {
    background: inherit;
    cursor: pointer;
}

.mainmenu-toggler:active {
    transform: scale(0.95);
}

.mainmenu-item {
    background-color: white;
    display: flex;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    flex-direction: column;
    height: 48.83%;
    font-weight: bold;
    transition: transform 300ms ease-in-out;
}

.mainmenu-item i {
    margin-top: 20%;
    font-size: 50px;
}

.mainmenu-item:hover {
    transform: scale(1.02);
}

.mainmenu-item:active {
    transform: scale(0.98);
}

.search {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 100%;
    background: #EDEEF0;
    color: #84848B;
    margin-bottom: 1px;
    height: 24px;
    font-size: 14px;
    text-align: left;
    line-height: 16px;
    background-image: url('magnifying-glass-solid.svg');
    background-size: 14px 14px;
    background-position-y: center;
    background-position-x: 0.8rem;
    background-repeat: no-repeat;
    padding-left: 1.9rem;
}

.search:focus {
    outline: none !important;
    box-shadow: none !important;
}

@keyframes scaleAnimation {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }

    0% {
        transform: translateY(1rem);
        opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-direction: alternate;
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: transform;
        -webkit-opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -webkit-opacity: 1;
    }

    0% {
        -webkit-transform: translateY(1rem);
        -webkit-opacity: 0;
    }
}