{% include 'base.html' %}
{% load static %}

{% block extra_head %}
<link href="{% static 'forum_app/forum.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% if sections %}
<div class="default-placeholder">
  <div class="placeholder-header">
    <p>Sections</p>
    <button class="create-button">+</button>
  </div>
  {% for section in sections %}
  <div class="placeholder-item">
    <a href="{% url 'forum_app:section_detail' section.pk %}">{{ section.name }}</a>
  </div>
  {% endfor %}
  </ul>
</div>
{% else %}
<p>Разделы отсутствуют.</p>
{% endif %}