
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 6px;
    max-width: 600px;
    margin: 20px auto;
    margin-right: 10px;
    border-radius: 10px;
    background: white;
    padding: 6px;
}

.calendar-header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.calendar-day {
    border: 2px solid #b6b6b6;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.container {
    background: whitesmoke;
    border-radius: 14px;
    padding: 6px;
    width: 80vw;
    margin-top: 14.5vh;
    gap: 6px;
}

.navbar {
    width: 79vw
}